<header class="au-header" id="au-header">
  <div class="au-container au-header__inner">
    {{- /* Logo */}}
    <div class="au-header__branding">
      <a href="{{ .Site.BaseURL }}" class="au-logo" rel="home">
        {{ with .Site.Params.logo }}
          <img src="{{ . | relURL }}" alt="{{ $.Site.Title }}" class="au-logo__img" width="280" height="82">
        {{ else }}
          <span class="au-logo__text">{{ .Site.Title }}</span>
        {{ end }}
      </a>
      <p class="au-logo__tagline">{{ .Site.Params.tagline | default "News in Your Hand" }}</p>
    </div>
  </div>
</header>
